@import '../../../generics/variables';

.home-page--title {
  text-align: center;
  padding: 2rem;

  h1 {
    color: $primary-color;
  }

  p {
    font-size: 1.2rem;
  }

  @media (max-width: $breakpoint-medium) {
    padding: 1rem;

    p {
      font-size: 1rem;
    }
  }

  @media (max-width: $breakpoint-small) {
    padding: 0.5rem;

    p {
      font-size: 0.9rem;
    }
  }
}
