<div class="home-page--container">
  <div class="home-page--login-box">
    <h2>Connexion</h2>
    <form>
      <div class="home-page--form-group">
        <label for="admin-email">Email</label>
        <input id="admin-email" required type="email">
      </div>
      <div class="home-page--form-group">
        <label for="admin-password">Mot de passe</label>
        <input id="admin-password" required type="password">
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
